<!-- Validation failure messages -->
<% if @book.errors.any? %>
<% @book.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<div class="page-header">
  <h3>Edit <%= @book.title %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_book/<%= @book.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for title -->
      <div class="form-group">
        <label for="title" class="control-label">
          Title
        </label>

        <input type="text" id="title" name="title" placeholder="Title" class="form-control" value="<%= @book.title %>">
      </div>

      <!-- Label and input for image -->
      <div class="form-group">
        <label for="image" class="control-label">
          Image
        </label>

        <input type="text" id="image" name="image" placeholder="Image" class="form-control" value="<%= @book.image %>">
      </div>
      <!-- Label and input for author_id -->
      <div class="form-group">
        <label for="author_id" class="control-label">
          Author
        </label>
        <%= select_tag(:author_id, options_from_collection_for_select(Author.order(name: :asc), :id, :name, @book.author_id), :class => "form-control") =%>

      </div>
      <!-- Label and input for user_id -->
      <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @book.user_id %>">


      <!-- Label and input for blurb -->
      <div class="form-group">
        <label for="blurb" class="control-label">
          Blurb
        </label>

        <input type="text" id="blurb" name="blurb" placeholder="Blurb" class="form-control" value="<%= @book.blurb %>">
      </div>


      <!-- Select Tag for Genre ID -->
      <div class="form-group">
        <label for="image" class="control-label">
          Genre (hold "ctrl" to select multiple) (if desired Genre is not present, please add a new Genre <a href="/genres/new" method="post">here</a>))
        </label>
        <%= select_tag(:genre_id, options_from_collection_for_select(Genre.order(title: :asc), :id, :title, @book.genres.ids), :class => "form-control", :multiple => true, :size =>10) =%>
      </div>


      <button class="btn btn-warning">
        Update Book
      </button>
      or
      <a href="/books/<%= @book.id %>">Cancel</a>
    </form>
  </div>
</div>
