<div class="page-header">
  <h3>Book #<%= @book.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Author</dt>
      <dd><%= @book.author_id %></dd>

      <dt>User</dt>
      <dd><%= @book.user_id %></dd>

      <dt>Blurb</dt>
      <dd><%= @book.blurb %></dd>

      <dt>Title</dt>
      <dd><%= @book.title %></dd>

      <dt>Image</dt>
      <dd><%= @book.image %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/books" class="btn btn-primary">
        Back
      </a>
      <a href="/books/<%= @book.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_book/<%= @book.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
